
body{
  background-image: url('Bhome.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  color: white; 
  }
  header{
      background-color: ;
      background-position: ;
      color: ;
      font-family: ;
      padding: 1em;
      text-align: center;
  }
  h1{
    color: ;
    font-family: ;
    font-size: ;
  }
  h2{
    font-family: ;
    font-size: ;
    color: ; 
  }
  h3{
    font-family: ;
    font-size: ;
    color: ; 
  }
  
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  
  footer{
      font-size: .70em;
      font-style:italic;
      text-align: center;
      padding-bottom: .5em;
  }
  .column{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  a:link{
    text-decoration: none;
    color: white;
  }
  a:visited{
    color: white;
  }